[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
boto3 = "*"
selenium = "*"
chromedriver-py = "==89.0.4389.23"

[dev-packages]
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
